# Global code owners for the repository.
* @telekom/CityKey/CityKey-Android

# Code owners for the application code.
/app/ @dhanesh-tsin @ShashilPohankar

# Code owners for the CI, CD, issue tamplates, and more.
/.github/ @MacOS
