# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space

[*.{kt,kts}]
# Disable wildcard imports
ij_kotlin_name_count_to_use_star_import = 9999
ij_kotlin_name_count_to_use_star_import_for_members = 9999

# ktlint overrides
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_import-ordering = enabled
max_line_length = off
